.ul-top {        
    list-style-type: none;
    margin-top:10px;
    padding:0; 
    top:0;
    width:100%;
    align-items: left;
} 

.blue-button {    
    background-color: rgb(66, 133, 244);
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding: 5px;
    margin: 10px 0 0 0;
    border-radius: 4px;
    border-color: rgb(66, 133, 244);
}
.blue-button:hover {
    border: 5px rgb(74, 70, 134);
}  
.grid {
    transform: scale(0.06);  
    margin: -105px; 
    margin-top: -90px;
    }

.image {
    float:left;     
    transform: scale(0.35);    
    margin-top: -20px;   
     margin-left: -65px;    
     margin-right: -45px;  
    }

.search {
    position: sticky;     
    display: flex;    
    flex-direction: row;     
    margin: 20px 0 0 -120px;
    width:650px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid rgb(226, 217, 217); 
    box-shadow: 0 0 5px #b0b0b3;
}
.search:hover {    
    box-shadow:0 0 15px #b0b0b3;    
}
.search-bar{
     width:85%; 
     height: 95%;    
     border-radius: 25px;
     background-color: white; 
     border: white; 
     box-shadow: none;
     outline: 0;
     font-size: 14px;
     padding-left: 20px;
     padding-right: 20px;
    }
    .x-icon {        
        transform:scale(0.4);         
        margin-left: 500px;        
        align-items: flex-end;        
        margin-right: -15px; 
        }        
        .vl { 
            border-left: 1px solid lightgray;            
            height: 70%;            
            margin-top: 1%;             
            margin-left: 10px;
        } 
        .magnifying {       
            transform: scale(0.4);      
            margin-right: 5px;     
            margin-left: -50px;
        }
        div {        
            margin-right: 50px;
        }
        .tags {    
            width: 100%;    
            overflow:auto;   
            color: grey;     
        }
        .tags a {     
            float: left;  
            text-align: center;  
            padding: 12px;   
            text-decoration: none;  
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            color: gray; 
            font-weight: 500;
        }        
        .tags a:hover { 
            color: blue;
        }
        .left {
            margin-left: 160px;
        }
        .center {
            margin-left: 55px;
        }

        h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-decoration: none;
            margin-left: 170px; 
            font-weight: 500;
        }
        h3 a:hover {
            text-decoration: underline 1px blue; 
            font-weight:300;  
        }
        
        a {
            text-decoration: none;
        }
        .results {
            max-width: 800px;
        }
        p {
            font-family: Arial, Helvetica, sans-serif; 
            font-size: 14px; 
            text-decoration: none; 
            margin-left: 170px; 
            font-weight: 400; 
            color: rgb(61, 61, 61);
        }
        #table {    
            margin-left: 155px;   
            font-family:Arial, Helvetica, sans-serif;    
            color: darkslategray; 
        } 
        th {     
            text-align: left;   
            padding: 20px;
        } 
        td {   
            width:100%; 
            border-bottom: lightgray 1px solid;
            padding: 20px;
            font-size: 16px; 
            padding-left: 15px;
        }
        #suggestions {            
            border: 1px solid lightgray;        
            padding-bottom: 20px;        
            margin-top: 15px;        
            margin-bottom: 15px;             
            border-radius: 5px;           
            max-width: 700px;           
            margin-left: 170px;           
        }
        .end {
            margin-left: 20px;
        }
        h4 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            text-decoration: none;
            margin-left: 20px;
            font-weight: 500;
        }        
        .row {
            display: flex;              
            justify-content: space-between;                    
            width: 50%;                
            margin-left: -20px;                
            padding-left:50px;                
            max-width: 400px;
        }
        .row::after {            
            content: "";        
            clear:both;        
            display: table;
        }
        .column {           
            display: inline-flexbox;                
            flex: 0%;              
            float: left;    
            width: 25%;    
            padding:0;    
            margin-right: 20px;       
            text-align: center;
        }
        .column img {
            border-radius: 20%;    
            border: 1px;    
            border-color: none;       
            display: block;      
            max-width: 3cm;      
            max-height: fit-content;      
            overflow: hidden;  
        }
        .site {
            size:14px;        
            font-family: Arial, Helvetica, sans-serif;        
            text-decoration: none;        
            color: darkslategray;
        } 
        .jlogo {    
            width: 100%;     
            padding-top: 25px;     
            padding-bottom: 30px;    
            background-color: rgb(0 ,0 , 0, 0.03)    
        } 
        .search-more{    
            margin-left: 30%;    
            margin-top: 25px;    
            height: 30px;    
            width: 300px;    
            border-radius: 20px;    
            background-color: white;    
            border: 1px solid lightgray;    
            box-shadow: none;    
            color: blue;    
        }     
        .search-more:hover {
            background-color: rgb(243, 239, 239);
        }    
        .final {        
            margin-left: 170px;        
            border: none;        
            padding-left: 0;        
            font-family: Arial, Helvetica, sans-serif;    
        }    
        .final th {
            text-align: left;    
            padding-left: 0px;
        }    
        .final td {        
            width:50%; 
            padding: 3px;
            font-size: 14px;
            font-weight: 600;
            border: none;    
        }
        .footer {
            border-top:1px solid #e4e4e4;
            margin-top: 5px;
            background-color: grey;
        }
        .ul-foot {    
            list-style-type: none;    
            margin:10px;
            padding:0;
            position: relative;
            bottom:0;
            width:100%;
            font-size: 14px;
            line-height: 30px;
            text-decoration: none;
            background-color: rgb(160, 159, 159);
        }
        .ul-foot a{
            text-decoration: none;    
            font-size: 14px;  
            font-family: Arial, Helvetica, sans-serif;  
            color: gray;
        }
        .li1 {    
            float: left;    
            margin: 10px; 
        }
        .li2 {    
            margin-right:  1%;
        }
  
       
      
   

